:root {
  --padding-left: 4%;
  --padding-right: 4%;
  --padding-top: 0.67em;
  --c-bg: rgb(24, 24, 24);
  --c-bg-a: rgba(24, 24, 24, 0.75);
  --c-acc: red;
  --c-txt: rgb(223, 223, 223);
  --c-txt-scnd: rgb(159, 159, 159);
  --b-corner: 0.2em;
  --hover-t: 50ms;
  --hover-b: 75%;
  --img-corner: 0.3em;
  --svg-stroke-thickness: 0.2em;
  --c-tier-started: #f6b26b;
  --c-tier-remaining: rgb(76, 76, 76);
  --c-tier-done: #90dc6e;
}

/*
 *
 *  ========
 *  GENERALS
 *  ========
 *
 */

* {
  outline: 1px solid red;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--c-bg);
  font-family: Tahoma, sans-serif; /* web safe fallback font */
  /* font-size: 1.3vw; */
  font-size: calc(10px + 0.6vw);
}

img,
picture,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: auto;
  height: auto;
}

input[type='text'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: text;
  outline: inherit;
  width: auto;
  height: auto;
}

/*
 *
 *  =========
 *  SPECIFICS
 *  =========
 *
 */

.main {
  height: auto;
  width: 100vw;
  background-color: var(--c-bg);
  background: linear-gradient(
    0deg,
    var(--c-txt) -600%,
    var(--c-bg) 27%,
    var(--c-bg) 66%,
    var(--c-txt) 600%
  );
}

/*
 *
 *  ======
 *  NAVBAR
 *  ======
 *
 */

.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  background-color: var(--c-bg);
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 0.7em;
}

.nav > .home {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  color: var(--c-acc);
  padding-top: 0.1em;
  margin-right: 0.3em;
}

.nav > .nav-item {
  color: var(--c-txt-scnd);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  margin-left: 1.75em;
}

.nav > .nav-item:hover {
  color: var(--c-txt);
}

.nav > .nav-item > a.active {
  color: var(--c-txt);
  text-decoration: underline;
}

.nav > .profile {
  margin-left: auto;
  color: var(--c-txt);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  cursor: pointer;
}

.nav > .profile:hover > .symbol > svg path {
  stroke: var(--c-txt-scnd);
}

.nav > .profile > .symbol > svg {
  height: 2.3em;
}

.nav > .profile > .symbol > svg path {
  stroke: var(--c-txt);
  stroke-width: var(--svg-stroke-thickness);
}

/*
 *
 *  ======
 *  CONTENT
 *  ======
 *
 */

/* general box styling */
.box {
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}

/* box heading */

.box h1 {
  margin: 0;
  padding: 0;
  margin-right: auto;
  font-size: 1em;
}

.box .head {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  width: 100%;
  font-size: 2em;
}

/* symbol in box heading */

.box .head .symbol {
  margin-left: 0.5em;
}

.box .head .symbol,
.box .head .symbol button {
  min-height: 1em;
  min-width: 1em;
}

.box .head .symbol button {
  display: grid;
}

.box .head .symbol button * {
  stroke: var(--c-txt);
  stroke-width: 0.05em;
}

.box .head .symbol button:hover * {
  stroke: var(--c-txt-scnd);
}

/* Search  */

.box .head .search .search-container {
  position: relative;
  display: flex;
}

.box .head .search .search-box {
  width: 0px;
  height: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.box .head .search .search-box input {
  font-size: 0.5em;
  width: 100%;
  height: 100%;
}

.box .head .search .search-box .close-list {
  height: 100%;
  width: auto;
}

.box .head .search .search-box .close-list * {
  stroke: var(--c-txt);
  stroke-width: 0.05em;
}

/* gen box layout */

.box p {
  padding: 0;
  margin: 0;
}

.box .container {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box .container .none {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  color: var(--c-txt-scnd);
}

.box .container .none .pic {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
}

.box .container .none .pic .list-symbol {
  height: auto;
  width: 5em;
}

.box .container .none .pic .list-symbol * {
  stroke: var(--c-txt-scnd);
}

.box .container .none .txt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* specifc boxes */
.promote.box {
  min-height: 40vh;
  color: var(--c-txt);
  z-index: 0;
  position: relative;
}

.my-lists.box {
  color: var(--c-txt);
  z-index: 0;
  position: relative;
}

.browse-lists.box {
  color: var(--c-txt);
  z-index: 0;
  position: relative;
}

.my-titles.box {
  color: var(--c-txt);
  z-index: 0;
  position: relative;
}

/*
 *
 *  ======
 *  FOOTER
 *  ======
 *
 */

.footer {
  position: relative;
  bottom: 0;
  z-index: 100;
  background-color: var(--c-bg);
  height: auto;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: flex-start;
  /* padding-top: 1em; */
  padding: 0em 20em 1em;
  margin-top: 1em;
}

.footer a:hover {
  color: var(--c-txt);
}

.footer-col {
  color: var(--c-txt-scnd);
  width: 8em;
  position: relative;
  height: 100%;
  margin-top: 1.5em;
}

.footer-col .h3 {
  height: 1em;
  width: inherit;
  font-size: 1.9em;
  margin-bottom: 1em;
  text-align: start;
}

.footer-col .h3.filmliste {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: var(--c-acc);
}

.footer .h3.filmliste a:hover {
  color: var(--c-acc);
}

.footer-col .h3 img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: top;
}

.footer-col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

.footer-col li {
  margin-bottom: 0.5em;
}
