# ssh keys:
.secret

# cloud config
config/cloud_init.yaml

# python related
**/__pycache__/
.venv/

# MacOS SpotlightFiles
**/.DS_Store

# Enviroment
.env

# add static file sform collect to ignore
./static
./media