{% load static %} {% load svg %} {% load title_card_colors %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'filmliste/styles/list_details.css' %}"
    />
    <script src="{% static 'filmliste/scripts/thirdparty/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'filmliste/scripts/thirdparty/jquery-ui.min.js' %}"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'filmliste/scripts/thirdparty/jquery-ui.min.css' %}"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <script>
      const CSRF_TOKEN = '{{ csrf_token }}';
      const FILMLISTE = { 
        addlist: "{% url 'add-list' host 'filmliste' %}", 
        discoverLists:"{% url 'discover-lists' host 'filmliste' %}",
        listDetails: "{% url 'list-details' 0 host 'filmliste' %}",
        search: "{% url 'search-preview' host 'filmliste' %}"
      };
      const TMDB = {
        baseURL:"https://image.tmdb.org/t/p/"
      }
      const userIs_authenticated =  '{{ user.is_authenticated }}'=="True"?true:false;
    </script>
    <!-- Icons from https://iconoir.com -->
    <script src="{% static 'filmliste/scripts/utils.js' %}" defer></script>
    <script src="{% static 'filmliste/scripts/list_details/ui.js' %}" defer></script>
    <script
      src="{% static 'filmliste/scripts/list_details/ui_function.js' %}"
      defer
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="nav">
          <div class="left">
            <div class="home"><a href="{% url 'index' host 'filmliste' %}" tabindex="0">Filmliste</a></div>
            <div class="continue nav-item">
              <a href="#continue" tabindex="0" class="active">Continue</a>
            </div>  
          </div>
          <div class="mid">
            <div class="search-for-media">
              <input type="text" name="Media Search" placeholder="Search for Title or Collection">
               <div class="glass">
                {% svg "filmliste/search" class="search" %}
              </div>
              <div class="query-result-container">
                <div class="blocker"></div>
                <div class="query-set title">
                  <div class="query-item base hidden">
                    <div class="img">
                      <img src="https://image.tmdb.org/t/p/w92/sIdCKlmM2nU4akIvFQaAIiU8YES.jpg" alt="poster">
                    </div>
                    <div class="title">
                      <span>
                        Hawaii Five-0
                      </span>
                    </div>
                  </div>
                </div>
                <span>Collections</span>
                <div class="query-set collection">

                </div>
              </div>
          </div>
          </div>
          <div class="right">
            <div class="profile">
              {% if user.is_authenticated %}
              <div class="symbol">
                <button>
                <!-- icons: https://iconoir.com -->
                <?xml version="1.0" encoding="UTF-8"?><svg
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  color="#000000"
                >
                  <path
                    d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                    stroke="#000000"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                    stroke="#000000"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
              </div>
              <div class="bg-shadow hidden" id="profile_box"></div>
              <div class="profile-box hidden">
                <div class="user">
                  Logged in as <span>{{ user.username }}</span>
                </div>
                <div>
                <a href="{% url 'logout' host 'filmliste' %}" class="logout">
                  Logout
                </a>
              </div>
              </div>
              {% else %}
              <a href="{% url 'login' host 'filmliste' %}" class="login">
                Log in
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      <div class="preview box" id="preview">
        last film preview oder so 
      </div>
      <div class="continue box" id="continue">
        <div class="head">
          <h1>Continue Watching</h1>
          
          <div class="search">
            <div class="search-container">
              <div class="symbol">
                <button>
                  {% svg "filmliste/input-search" class="search-title" %}
                </button>
              </div>
              <div class="search-box">
                <input
                  type="text"
                  name="continue-search"
                  id="continue-search"
                  placeholder="Enter Title name"
                  tabindex="-1"
                />
                <button tabindex="-1">{% svg "filmliste/xmark" class="close-list" %}</button>
              </div>
            </div>
          </div>
          <!--
          <div class="sort">
            <div class="sort-container">
              <div class="symbol">
                <button>
                  {% svg "filmliste/sort" class="sort-continue" %}
                </button>
              </div>
              <div class="sort-box">
                <div class="dropdown">
                    <div class="dropdown-selected"> 
                        <div class="dropdown-option" data-value="0"> Last Interacted With</div>
                    </div>
                    <div class="dropdown-options hidden">
                        <div class="dropdown-option" data-value="1">{% svg "filmliste/sort" %} Interaction</div>
                        <div class="dropdown-option" data-value="2">{% svg "filmliste/sort" %} Title Name A-Z</div>
                        <div class="dropdown-option" data-value="3">{% svg "filmliste/sort" %} Title Name Z-A</div>
                        {% comment %} <div class="dropdown-option" data-value="4">{% svg "filmliste/sort" %} Option 4</div> {% endcomment %}
                    </div>
                </div>
                <button tabindex="-1">{% svg "filmliste/xmark" class="close-list" %}</button>
              </div>
            </div>
          </div> 
          -->
        </div>
        <div class="container">
          {% if titles.continue %}
          <span class="todo">For each title add titlecard</span>
          {% else %}
          <div class="none">
            <div class="pic">
              {% svg 'filmliste/server' class="list-symbol" %}
            </div>
            <div class="txt">
              <p>There are no titles remaining. Start some progress on a title.</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="popup-container media-tv">
        <div class="popup-media-tv">
          <div class="container head">
            <button class="close">{% svg "filmliste/xmark"%}</button>
            <div class="bg"><img src="https://image.tmdb.org/t/p/original/tLccUh3uazZ9TkLhe53UwprJhI4.jpg" alt=""></div>
            <div class="close"></div>
            <div class="subbar">
              <div class="title"><span>Hawaii Five-0</span></div>
              <div class="actions">
                <button class="action" title="Add Series to list">{% svg "filmliste/plus"%}</button>
                <button class="action show-timeline" title="Show Watch Timeline">{% svg "filmliste/git-commit"%}</button>
              </div>
            </div>
          </div>
          <div class="container graph">
            <div class="timeline">
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="users">
                  <div class="user">
                    <div class="season">1</div>
                    <div class="divide">{% svg "filmliste/slash"%}</div>
                    <div class="episode">25</div>
                  </div>
                  <div class="user">
                    <div class="season">2</div>
                    <div class="divide">{% svg "filmliste/slash"%}</div>
                    <div class="episode">10</div>
                  </div>
                  <div class="user">
                    <div class="season">1</div>
                    <div class="divide">{% svg "filmliste/slash"%}</div>
                    <div class="episode">3</div>
                  </div>
                  <div class="user">
                    <div class="season">1</div>
                    <div class="divide">{% svg "filmliste/slash"%}</div>
                    <div class="episode">3</div>
                  </div>
                  <div class="user">
                    <div class="season">1</div>
                    <div class="divide">{% svg "filmliste/slash"%}</div>
                    <div class="episode">3</div>
                  </div>
                  <div class="user">
                    <div class="season">1</div>
                    <div class="divide">{% svg "filmliste/slash"%}</div>
                    <div class="episode">3</div>
                  </div>
                  <div class="indicator"></div>
                </div>
                <div class="line"></div>
                <div class="date">23.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
              <div class="snippet">
                <div class="user"></div>
                <div class="line"></div>
                <div class="date">20.05.2025</div>
              </div>
            </div>
            <div class="legend">
              <div class="user">kdsjhfkjsd</div>
              <div class="user">kdsjhfkjsd</div>
              <div class="user">kdsjhfkjsd</div>
            </div>
          </div>
          <div class="container overview">Steve McGarrett returns home to Oahu, in order to find his father's killer. The governor offers him the chance to run his own task force (Five-0). Steve's team is joined by Chin Ho Kelly, Danny "Danno" Williams, and Kono Kalakaua.</div>
          <div class="container body">
            <div class="season">
              <div class="head">
                <div class="image">
                  <img src="https://image.tmdb.org/t/p/original/neZuaVx5r6MoaOPnh4BSkZ5yy7e.jpg" alt="Still Image of Season 1">
                </div>
                <div class="info">
                  <div class="title">Season 1</div>
                  <div class="description">HAWAII FIVE-0 is a contemporary take on the classic series about a new elite federalized task force whose mission is to wipe out the crime that washes up on the Islands' sun-drenched beaches.</div>
                </div>
                <div class="actions">
                  <button class="show-episodes" title="Show or hide Episodes">{% svg "filmliste/nav-arrow-left"%}</button>
                </div>
              </div>
              <div class="episodes hidden">
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
                <div class="episode">
                  <div class="image">
                    <img src="https://image.tmdb.org/t/p/original/https://image.tmdb.org/t/p/original/s6WsI1x65kk8IC8gGDjZKafrvOU.jpg" alt="Still Image of Season 1">
                  </div>
                  <div class="info">
                    <div class="title">1: Pilot</div>
                    <div class="description">Steve McGarrett is summoned home to the island of Honolulu to bury his father after he is murdered by a madman. Governor Jameson wants Steve to head up a new elite police unit and she will give him full authority to get the job done. Initially he turns down the job, but when he meets the man in charge of the unit, he changes his mind.</div>
                  </div>
                  <div class="actions">
                    <button class="action" title="Add View Entry">{% svg "filmliste/eye"%}</button>
                    <button class="action" title="Show in Watch Timeline">{% svg "filmliste/git-cherry-pick-commit"%}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-col">
          <div class="h3 filmliste">
            <a href>Filmliste</a>
          </div>
          <ul>
            <li><a href="#impressum">Impressum</a></li>
            <li><a href="#daten"> Datenschutzerklärung</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <div class="h3">
            <a href="https://www.themoviedb.org/">
              <img
                src="{% static 'filmliste/images/tmdb_logo.svg' %}"
                alt="The Movie Database"
              />
            </a>
          </div>
          <ul>
            <li><a href="https://www.themoviedb.org/">Visit their site</a></li>
            <li>
              This product uses the TMDB API but is not endorsed or certified by
              TMDB.
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <div class="h3">
            <a href="https://www.justwatch.com/">
              <img
                src="{% static 'filmliste/images/JustWatch_logo.webp' %}"
                alt="JustWatch"
              />
            </a>
          </div>
          <ul>
            <li><a href="https://www.justwatch.com/">Visit their site</a></li>
            <li>
              This product uses data originating from, but is not endorsed by,
              JustWatch.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>