<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filmliste - Login</title>
</head>
<body>
  {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  Login
  <form action="{% url 'filmliste:login' %}" method="post">
    {% csrf_token %}
    {{ login.as_p }}
    <input type="submit" value="Ok">
  </form>
  <br>
  Register/Signup
  <form action="{% url 'filmliste:login' %}" method="post">
    {% csrf_token %}
    {{ signup.as_p }}
    <input type="submit" value="Ok">
  </form>
</body>
</html>