:root {
  --padding-left: 4%;
  --padding-right: 4%;
  --padding-top: 0.67em;
  --c-bg: rgb(24, 24, 24);
  --c-bg-a: rgba(24, 24, 24, 0.75);
  --c-bg-shaded: hsl(0, 0%, 5%);
  --c-acc: red;
  --c-txt: rgb(223, 223, 223);
  --c-txt-scnd: rgb(159, 159, 159);
  --b-corner: 0.2em;
  --hover-t: 50ms;
  --hover-b: 75%;
  --img-corner: 0.3em;
  --c-tier-started: #f6b26b;
  --c-tier-remaining: rgb(76, 76, 76);
  --c-tier-done: #90dc6e;
  --symbol-width: 1.8px;
}

/*
 *
 *  ========
 *  GENERALS
 *  ========
 *
 */

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* *:focus {
  outline: 1px solid red;
} */



html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--c-bg);
  font-family: Tahoma, sans-serif; /* web safe fallback font */
  /* font-size: 1.3vw; */
  font-size: max(15px, 0.8vw);
}

img,
picture,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: auto;
  height: auto;
}

/* button:focus {
  outline: 1px solid red;
} */

input[type='text'],
input[type='password'],
input[type='email'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: text;
  outline: inherit;
  width: auto;
  height: auto;
  border-bottom: 1px solid var(--c-txt);
}

input[type='submit'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  width: auto;
  height: auto;
  cursor: pointer;
}

.hidden {
  display: none !important;
  opacity: 0;
}

/*
 *
 *  =========
 *  SPECIFICS
 *  =========
 *
 */

.main {
  height: 100vh;
  width: 100vw;
  background-color: var(--c-bg);
  background: linear-gradient(
    0deg,
    var(--c-acc) -600%,
    /* var(--c-bg) 27%, */
    var(--c-bg) 2%,
    var(--c-acc) 600%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.content {
  width: 44em;
  height: 30em;
  background-color: var(--c-bg);
  border-radius: var(--b-corner);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > .head {
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-top-left-radius: var(--b-corner);
  border-top-right-radius: var(--b-corner);
}

.content > .head button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--c-bg-shaded);
}

.content > .head button.selected {
  background-color: var(--c-bg);
}

.content > .head button span {
  color: var(--c-txt);
  font-size: 1.7em;
}

.content > .inner {
  align-self: stretch;
  position: relative;
  flex-grow: 1;
  color: var(--c-txt);
  padding: 1em 2em;
}

.content > .inner > div {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > .inner > div > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > .inner > div .field {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.content > .inner > div input[type="submit"]{
  width: 10em;
  background-color: var(--c-txt);
  color: var(--c-bg);
  padding: 0.4em 0.6em;
  border-radius: var(--b-corner);
  font-weight: bolder;
  font-size: 1.5em;
  align-self: center;
}